* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
  }
  body {
    height: 100vh;
    background: white;
  }
  html {
    font-size: 16px;
  }
  .wrapper {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
  }
  .container {
    width: 70vmin;
    height: 70vmin;
    display: flex;
    flex-wrap: wrap;
    gap: 2vmin;
  }
  .button-option {
    background: #5555554b;
    height: 22vmin;
    width: 22vmin;
    border: none;
    border-radius: 8px;
    border-color: #000000;
    font-size: 12vmin;
    color: #000000;
    box-shadow: 0 0 55px rgba(0, 0, 0, 0.12);
  }

  .button-option:hover{
    background: rgb(102, 237, 247);
    cursor: pointer;
  }
  #restart {
    font-size: 1.3em;
    padding: 1em;
    border-radius: 8px;
    background-color: #0a0027;
    color: #ffffff;
    border: none;
    position: relative;
    margin: 1.5em auto 0 auto;
    display: block;
    cursor: pointer;
  }
  .popup {
    background: white;
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    z-index: 2;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1em;
    font-size: 12vmin;
  }
  #new-game {
    font-size: 0.6em;
    padding: 0.5em 1em;
    background-color: #0a0027;
    color: #ffffff;
    border-radius: 0.2em;
    border: none;
    cursor: pointer;
  }
  #message {
    color: #000000;
    text-align: center;
    font-size: 1em;
  }
  .popup.hide {
    display: none;
  }

  #title{
    font-family: Impact;
    font-size: 50px;
    text-align: center;
    margin-top: 15px;
    letter-spacing: 2px;
  }